.white{color: white;}
.postagem{
  margin: 5px 0 5px 0;
  text-indent: 5px;
}
#logo{ font-size: 20px;
        color: dimgrey;
      }
#top{background-color: orange;
    text-align: center;
    padding: 15px 15px 0px 15px;
  }
#corpo{
  text-align: justify;
  width: 900px;
  margin: 15px auto;
}
.artigo{
 text-indent: 14px;
}
#botton-menu{
  text-align: center;
  width: 675px;
  margin: 0px auto
}
#botton-menu img{
  width: 400px;
}
.artigo img{
  width: 100%;
  border: 8px solid lightsalmon;
}
#lateral-menu{
  margin: 15px 0px 0px 5px;
  font-size: 0.9em;
  width: 240px;
  float: right;
}
.lateral-menu-title{
  background-color: lightgrey;
  color: dimgrey;
  font-weight: bold;
  font-size: 1.1em;
  padding: 5px 0 5px 0;
  text-indent: 5px;
}

#menu{ padding: 10px;
}
#textos{
  width: 655px;
  font-size: 15px;
  float: left;
}
#menu a{ text-decoration: none;
  padding: 0px 12px 8px 12px;
}
#menu a:link{
  color:white;
  padding: 8px 12px;
}
#menu a:active{
  color: white;
  padding: 8px 12px;

}
#menu a:visited{
  color: white;
  padding: 8px 12px;
}
#menu a:hover{
  background-color: white;
  color: orange;
  padding: 8px 12px;
}
#corpo a{
  text-decoration: none;
  color: orange;
}
#corpo a:hover{
  text-decoration: underline;
  color: orange;
}
h2{
  color: orange;
}

h5{
  text-decoration: none;
}
